<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="32001" type="ipaddress"   id="host" default=""/>
        <setting label="30002" type="number"   id="port" default="1883"/>
        <setting label="30003" type="text"   id="path" default="/house/xbmc"/>
    </category>
</settings>
